{
  "ignore": [
    ".nyc_output",
    ".vscode",
    "coverage",
    "lib",
    "node_modules"
  ],
  "env": {
    "browser": {
      "comments": false,
      "plugins": ["lodash"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "browsers": "last 4 versions" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    },
    "main": {
      "comments": false,
      "plugins": ["lodash"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "node": "6" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    },
    "module": {
      "comments": false,
      "plugins": ["lodash"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "modules": false,
          "targets": { "node": "6" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    },
    "test": {
      "plugins": ["istanbul"],
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "node": "current" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    }
  }
}
