{
  "comments": false,
  "env": {
    "browser": {
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "modules": false,
          "targets": { "browsers": "last 4 versions" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    },
    "debug": {
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "modules": false,
          "targets": { "browsers": "chrome >= 60" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    },
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "targets": { "node": "6" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    },
    "module": {
      "presets": [
        ["@babel/preset-env", {
          "debug": true,
          "modules": false,
          "targets": { "node": "6" },
          "useBuiltIns": "usage"
        }],
        "@babel/preset-stage-0"
      ]
    }
  },
  "ignore": [
    ".nyc_output",
    ".vscode",
    "bundle",
    "coverage",
    "docs",
    "lib",
    "node_modules",
    "**/*.d.ts"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-decorators"
  ]
}
