{
  "env": {
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": 0,
    "one-var": ["error", { "initialized": "never" }],
    "one-var-declaration-per-line": ["error", "initializations"]
  }
}
