.nyc_output/
.sonar/
.vscode/
bundle/
coverage/
docs/
karma/
src/
test/
*.log
.*
custom-launchers.json
gulpfile.js
karma.*
mocha.opts
package-lock.json
sonar-project.properties
tsconfig.*
tslint.json
webpack.*
