.github/
.husky/
.vscode/
bundle/
coverage/
docs/

# private files
.*

# logs
*.log

# configs
*.config.*

# doc files
CHANGELOG.md
CONTRIBUTING.md

# build files
karma.*
webpack.*

# jest files
jest.*

# lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
