{
  "all": true,
  "cache": true,
  "exclude": [],
  "extension": [".ts"],
  "include": ["packages/**/*"],
  "instrument": true,
  "report-dir": "./coverage/node",
  "reporter": ["json", "lcov", "text-summary"],
  "sourceMap": true
}
