{
  "check-coverage": true,
  "branches": 80,
  "functions": 80,
  "lines": 80,
  "statements": 80,
  "all": true,
  "cache": true,
  "extension": [".ts"],
  "include": ["src/**/*"],
  "instrument": true,
  "report-dir": "./coverage",
  "reporter": ["lcov", "text-summary"],
  "sourceMap": true
}
